html {
  font-family: "Lora", serif;
}

body {
  margin: 0 auto;
  background-color: #f8ede3;
  // background-color: #d0b8a8;
  // background-color: #7d6e83;
  color: black;
}

// NAVBAR

.navbar {
  background-color: #7d6e83;
  color: #f8ede3;
  .navLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
    }
  }
}

// TITLE
.titleHeader {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em;

  .titleHeading {
    text-align: left;
    font-size: 3em;
    height: 100%;
    margin: 0;
    display: flex;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    justify-content: space-between;
  }

  .nameHeading {
    margin-bottom: 0;
  }

  img {
    aspect-ratio: fixed;
    width: 300px;
  }
}

// BIO
.square {
  position: absolute;
  opacity: 0.3;
  top: 40%;
  left: 27%;
  // transform: translateY(-50%);
  aspect-ratio: 1/1;
  width: 12em;

  background-color: #7d6e83;
  z-index: -1;
}

.bio {
  z-index: 1;
  text-align: justify;
  width: 850px;
  margin: 0 auto;
  padding: 1em;
}

.questionsAndServicesSection {
  display: flex;
}

// QUESTIONS
.questionSection {
  // placholder
}
.hidden {
  display: none;
}

.question {
  text-align: center;
  cursor: pointer;
}

.answer {
  text-align: center;
}

//LIST ITEMS
.listItemTitle {
  cursor: pointer;
}

// SERVICES
.servicesList {
  display: flex;
  flex-direction: column;

  ul {
    padding-left: 0;
  }

  .serviceAndCheck {
    display: flex;
    list-style-type: none;
  }
}
