html {
  font-family: "Lora", serif;
}

body {
  margin: 0 auto;
  background-color: #f8ede3;
  color: black;
}

// NAVBAR

.navbar {
  background-color: #7d6e83;
  color: #f8ede3;
  .navLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
    }
  }
}

// TITLE
.titleHeader {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em;

  .titleHeading {
    text-align: left;
    font-size: 3em;
    height: 100%;
    margin: 0;
    display: flex;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    justify-content: space-between;
  }

  .nameHeading {
    margin-bottom: 0;
  }

  img {
    aspect-ratio: fixed;
    width: 300px;
  }
}

// BIO
.squareBio {
  display: flex;
}

.square {
  align-self: center;
  opacity: 0.7;
  aspect-ratio: 1/1;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-color: #7d6e83;
  z-index: -1;
}

.bio {
  z-index: 1;
  text-align: justify;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
  line-height: 200%;
  border-bottom: solid #dfd3c3 1px;
}

.questionsAndServicesSection {
  background-color: #dfd3c3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.listSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }
}

.description {
  text-align: center;
}

// QUESTIONS
.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #d0b8a8;
  margin: 0 auto;
  line-height: 200%;
  border-bottom: solid #dfd3c3 1px;
}
.hidden {
  display: none;
}

.question {
  text-align: center;
  cursor: pointer;
  font-size: 2em;
  color: #f8ede3;
  text-shadow: 1px 1px 4px black;
  margin: 1em;
}

.answer {
  text-align: center;
  font-size: larger;
  background-color: #dfd3c3;
  padding: 1em;
  max-width: 900px;
  margin-bottom: 4em;
  box-shadow: 1px 3px 8px #333333;
  border-radius: 10px;
}

//LIST ITEMS
.listItemTitle {
  cursor: pointer;
}

// SERVICES
.servicesList {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    padding-left: 0;
  }

  .serviceAndCheck {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-bottom: 2em;

    .service {
      padding-right: 6em;
      font-size: large;
      font-weight: bold;
      border-bottom: solid black 1px;
      width: 6em;
      color: #7d6e83;
    }
    .checkmark {
      padding-right: 1em;
      // color: #7d6e83;
    }
  }
}
