// NAVBAR

.navbar {
  .navLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
    }
  }
}

// TITLE
.titleHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  .titleHeading {
    text-align: center;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  img {
    aspect-ratio: fixed;
    padding: 1em;
    width: 300px;
  }
}

// BIO
.bio {
  text-align: center;
}

.questionsAndServicesSection {
  display: flex;
}

// QUESTIONS
.questionSection {
  // placholder
}
.hidden {
  display: none;
}

.question {
  text-align: center;
  cursor: pointer;
}

.answer {
  text-align: center;
}

//LIST ITEMS
.listItemTitle {
  cursor: pointer;
}

// SERVICES
.servicesList {
  display: flex;
  flex-direction: column;

  ul {
    padding-left: 0;
  }

  .serviceAndCheck {
    display: flex;
    list-style-type: none;
  }
}
