html {
  font-family: "Lora", serif;
}

body {
  margin: 0 auto;
  background-color: #f8ede3;
  color: #333333;
}

.navbar {
  background-color: #7d6e83;
  color: #f8ede3;
  border-bottom: solid 1px;
}
.navbar .navLinks {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .navLinks li {
  padding: 1em;
}

.titleHeader {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em;
  margin-top: 1em;
}
.titleHeader .titleHeading {
  text-align: left;
  font-size: 3em;
  height: 100%;
  margin: 0;
  display: flex;
}
.titleHeader .titleText {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
  justify-content: space-between;
}
.titleHeader .nameHeading {
  margin-bottom: 0;
}
.titleHeader img {
  aspect-ratio: fixed;
  width: 300px;
}

.intro {
  font-style: italic;
  font-size: large;
}

.square {
  align-self: center;
  opacity: 0.7;
  aspect-ratio: 1/1;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-color: #7d6e83;
  z-index: -1;
}

.bio {
  z-index: 1;
  text-align: justify;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
  line-height: 200%;
  border-bottom: solid #dfd3c3 1px;
}

.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #d0b8a8;
  margin: 0 auto;
  line-height: 200%;
  border-bottom: solid 1px;
  border-top: solid 1px;
  padding-bottom: 2em;
  padding-top: 1em;
}

.question {
  text-align: center;
  font-size: 2em;
}

.answer {
  text-align: center;
  font-size: larger;
  background-color: #dfd3c3;
  padding: 1em;
  max-width: 1100px;
  box-shadow: 1px 3px 8px #333333;
  border-radius: 10px;
}

.questionsAndServicesSection {
  padding-top: 2em;
  background-color: #dfd3c3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.listSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
}
.listSection h2 {
  text-align: center;
  margin: 0;
}

.description {
  background-color: #f8ede3;
  border-radius: 10px;
  box-shadow: 1px 3px 8px #333333;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  width: 25em;
  border: solid 1px;
  cursor: pointer;
}

.descriptionName {
  color: #7d6e83;
}

.descriptionHidden {
  display: none;
}

.titleHidden {
  display: none;
}

.listItemTitle {
  cursor: pointer;
  color: #7d6e83;
  text-align: center;
}

.servicesList {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.servicesList h2 {
  text-align: center;
  margin: 0;
}
.servicesList ul {
  padding-top: 1em;
  padding-left: 0;
}
.servicesList .serviceAndCheck {
  display: flex;
  list-style-type: none;
}
.servicesList .serviceAndCheck .service {
  padding-right: 2em;
  font-size: large;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: solid #333333 1px;
  width: 6em;
  color: #7d6e83;
  margin-bottom: 15%;
}
.servicesList .serviceAndCheck .checkmark {
  padding-right: 1em;
  color: #333333;
}

/*# sourceMappingURL=index.css.map */
